{% extends "layout.njk" %}

{% block header %}
    <title>Teachers</title>
    <link rel="stylesheet" href="/styles.css">
{% endblock header %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover">

    </section>
    
    <form class="details" method="POST" action="/teachers">

        <h3>Editar Professor</h3>

       {%include 'teachers/fields.njk'%}

    </form>
</div>

{% endblock content %}