{% extends "layout.njk" %}

{% block header %}
    <title>Teachers</title>
    <link rel="stylesheet" href="/styles.css">
{% endblock header %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/489203/500x500) no-repeat center center / cover">

    </section>
    
    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome</div>
            <div>Rodolfo Mariano</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>23</div>
        </div>

         <div class="item">
            <div>Grau de escolaridade</div>
            <div>Doutorado</div>
        </div>

         <div class="item">
            <div>Tipo de aula</div>
            <div>Presencial</div>
        </div>

         <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Matemática</span>
                <span>Física</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>10/08/2019</div>
        </div>

    </section>
</div>

{% endblock content %}