{% extends "layout.njk" %}

{% block header %}
    <title>Teachers</title>
    <link rel="stylesheet" href="/styles.css">
{% endblock header %}

{% block content %}

<div class="card">
    <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover">

    </section>
    
    <form class="details" method="POST" action="/teachers">

        <h3>Novo Professor</h3>

        <div class="item">
            <div>Nome</div>
            <div>{{teacher.name}}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{teacher.age}}</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>{{teacher.graduation}}</div>
        </div>

         <div class="item">
            <div>Tipo de aula</div>
            <div>{{"Presencial" if teacher.course == "presential" else "À distância"}}</div>
        </div>

         <div class="item">
            <div>Acompanhamento</div>
            <div>
                {% for service in teacher.services %}
                    <span>{{service}}</span>
                {% endfor %}
            </div>
        </div>

         <div class="item">
            <div>Desde</div>
            <div>{{teacher.created_at}}</div>
        </div>

        <a href="" class="button">Editar</a>

    </form>
</div>

{% endblock content %}