*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(241, 241, 243);
}

/* === HEADER === */

.links{
    padding: 28px;
    text-align: center;
}

.links a{
    text-decoration: none;      
    color: #7159C1;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}

.links a:hover{
    color: #8f7cd1;
    transition: color 300ms;
}

/* === Cards === */

.cards{
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 48px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   text-align: center;
}


.card{
    background-color: rgb(29, 29, 29);
    background-image: url('https://raw.githubusercontent.com/DaywisonSilva/Bootcamp_LaunchBase/master/Iniciando_No_Frontend/Desafios/Desafio%203_3/imagens/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.card img{
    padding-top: 80px;
}

#starter h3{
    color: #7159C1;
    padding: 32px; 
}

#launchbase h3{
    color: #FD951F;
    padding: 32px;    
}

#gostack h3{
    color: #04D361;
    padding: 32px;
}

.card p{
    color: white;
    
    padding-bottom: 180px;
}

#starter a{
    color: rgb(0, 0, 0);
    background-color: #7159C1;
    padding: 16px;
    border-radius: 8px;
}

#launchbase a{
    color: black;
    background-color: #FD951F;
    padding: 16px;
    border-radius: 8px;
}

#gostack a{
    color: black;
    background-color: #04D361;
    padding: 16px;
    border-radius: 8px;
}

#starter:hover{
    border: 3px solid #7159C1;
}

#launchbase:hover{
    border: 3px solid #FD951F;
}

#gostack:hover{
    border: 3px solid #04D361;
}

/* ====MODAL==== */

.modalOverlay{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    height: 90%;
    width: 90%;
    margin: 5vh auto;
    position: relative;
}


.modal.maximized{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.modal .close-modal{
    position: absolute;
    display: flex; 
    right: 8px;
    top: 8px;
    cursor: pointer;  
}

.modal .maximize-modal{
    position: absolute;
    display: flex; 
    right: 36px;
    top: 8px;
    cursor: pointer; 
}



/* ====MODAL ACTIVE ==== */

.modalOverlay.active{
    opacity: 1;
    visibility: visible;
}


iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}