{% extends "layout.njk" %}

{% block head %}

<link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
<link rel="stylesheet" href="styles/about.css">
<title>RocketSeat</title>

{% endblock %}


{% block content %}

<div class="wrapper">

    <h1>{{about.title}}</h1>
    <p>{{about.description}}</p>
    <a href="/courses">{{about.button}}</a>


</div>
<!--wrapper -->

<div class="image">
    <img src="{{about.rocket_url}}" alt="Rocket">
</div>
<!--image -->

<div class="tecnologies">
    <div class="content">
        <img src="{{about.trophy_url}}" alt="trophy">
        <div class="text">
            <h1>{{about.tecnologies_title}}</h1>
            <h3>{{about.companies}}</h3>
            <p>{{about.tecnologies_description}}</p>
        </div>
        <!--text -->

    </div>
    <!--content -->
</div>
<!--tecnologies -->

<div class="links" id="footer">
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
    <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
    <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
</div>
<!--links/footer -->

{% endblock %}



