{% extends "layout.njk" %}

{% block head %}

<link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
<link rel="stylesheet" href="/styles/about.css">
<title>LaunchBase</title>

{% endblock %}

{% block content %}

<h1>LaunchBase</h1>
<h2>O que é o LaunchBase?</h2>
<p>O LaunchBase é um treinamento no formato de bootcamp online que tem duração de 8 semanas. A cada semana os conteúdos são liberados de acordo com um cronograma, guiando o aluno pelas ferramentas e conceitos mais modernos de desenvolvimento web para entrar com o pé direito nesse universo e ir direto ao ponto naquilo que realmente importa para alcançar seus maiores objetivos como dev.</p>

{% endblock %}


