{% extends "layout.njk" %}

{% block head %}

<link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
<link rel="stylesheet" href="/styles/about.css">
<title>Starter</title>

{% endblock %}

{% block content %}

<h1>Starter</h1>
<h2>Cursos 100% online e gratuitos para você entrar com o pé direito nas tecnologias mais desejadas do mercado.</h2>

{% endblock %}
